{% extends 'base.html' %}

{% block content %}
    <h2>Add Daily Stock</h2>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="staff_name">Staff name:</label>
                        <input type="text" id="staff_name" name="staff_name" placeholder="Enter staff name">
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"><h3>Ingredients</h3></td>
            </tr>
            <tr>
                <th>Ingredient</th>
                <th>New Delivery</th>
                <th>Closing Stock</th>
                <th>Order Required</th>
            </tr>

            <tr>
                <td>Dough Balls</td>
                <td><input type="number" id="dough_balls_new_delivery" name="dough_balls_new_delivery" value="0"></td>
                <td><input type="number" id="dough_balls_closing_stock" name="dough_balls_closing_stock" value="0"></td>
                <td><input type="checkbox" id="dough_balls_order_required" name="dough_balls_order_required"></td>
            </tr>

            <tr>
                <td>Pizza Sauce</td>
                <td><input type="number" id="pizza_sauce_new_delivery" name="pizza_sauce_new_delivery" value="0"></td>
                <td><input type="number" id="pizza_sauce_closing_stock" name="pizza_sauce_closing_stock" value="0"></td>
                <td><input type="checkbox" id="pizza_sauce_order_required" name="pizza_sauce_order_required"></td>
            </tr>

            <tr>
                <td>Pizza Sauce Tin</td>
                <td><input type="number" id="pizza_sauce_tin_new_delivery" name="pizza_sauce_tin_new_delivery" value="0"></td>
                <td><input type="number" id="pizza_sauce_tin_closing_stock" name="pizza_sauce_tin_closing_stock" value="0"></td>
                <td><input type="checkbox" id="pizza_sauce_tin_order_required" name="pizza_sauce_tin_order_required"></td>
            </tr>

            <tr>
                <td>Pesto Sauce</td>
                <td><input type="number" id="pesto_sauce_new_delivery" name="pesto_sauce_new_delivery" value="0"></td>
                <td><input type="number" id="pesto_sauce_closing_stock" name="pesto_sauce_closing_stock" value="0"></td>
                <td><input type="checkbox" id="pesto_sauce_order_required" name="pesto_sauce_order_required"></td>
            </tr>

            <tr>
                <td>Fresh Mozzarella</td>
                <td><input type="number" id="fresh_mozzarella_new_delivery" name="fresh_mozzarella_new_delivery" value="0"></td>
                <td><input type="number" id="fresh_mozzarella_closing_stock" name="fresh_mozzarella_closing_stock" value="0"></td>
                <td><input type="checkbox" id="fresh_mozzarella_order_required" name="fresh_mozzarella_order_required"></td>
            </tr>

            <tr>
                <td>Ricotta</td>
                <td><input type="number" id="ricotta_new_delivery" name="ricotta_new_delivery" value="0"></td>
                <td><input type="number" id="ricotta_closing_stock" name="ricotta_closing_stock" value="0"></td>
                <td><input type="checkbox" id="ricotta_order_required" name="ricotta_order_required"></td>
            </tr>

            <tr>
                <td>Shredded Cheese</td>
                <td><input type="number" id="shredded_cheese_new_delivery" name="shredded_cheese_new_delivery" value="0"></td>
                <td><input type="number" id="shredded_cheese_closing_stock" name="shredded_cheese_closing_stock" value="0"></td>
                <td><input type="checkbox" id="shredded_cheese_order_required" name="shredded_cheese_order_required"></td>
            </tr>

            <tr>
                <td>Parmesan</td>
                <td><input type="number" id="parmesan_new_delivery" name="parmesan_new_delivery" value="0"></td>
                <td><input type="number" id="parmesan_closing_stock" name="parmesan_closing_stock" value="0"></td>
                <td><input type="checkbox" id="parmesan_order_required" name="parmesan_order_required"></td>
            </tr>

            <tr>
                <td>Blue Cheese</td>
                <td><input type="number" id="blue_cheese_new_delivery" name="blue_cheese_new_delivery" value="0"></td>
                <td><input type="number" id="blue_cheese_closing_stock" name="blue_cheese_closing_stock" value="0"></td>
                <td><input type="checkbox" id="blue_cheese_order_required" name="blue_cheese_order_required"></td>
            </tr>

            <tr>
                <td>Goat Cheese</td>
                <td><input type="number" id="goat_cheese_new_delivery" name="goat_cheese_new_delivery" value="0"></td>
                <td><input type="number" id="goat_cheese_closing_stock" name="goat_cheese_closing_stock" value="0"></td>
                <td><input type="checkbox" id="goat_cheese_order_required" name="goat_cheese_order_required"></td>
            </tr>

            <tr>
                <td>Feta</td>
                <td><input type="number" id="feta_new_delivery" name="feta_new_delivery" value="0"></td>
                <td><input type="number" id="feta_closing_stock" name="feta_closing_stock" value="0"></td>
                <td><input type="checkbox" id="feta_order_required" name="feta_order_required"></td>
            </tr>

            <tr>
                <td>Sundried Tomato</td>
                <td><input type="number" id="sundried_tomato_new_delivery" name="sundried_tomato_new_delivery" value="0"></td>
                <td><input type="number" id="sundried_tomato_closing_stock" name="sundried_tomato_closing_stock" value="0"></td>
                <td><input type="checkbox" id="sundried_tomato_order_required" name="sundried_tomato_order_required"></td>
            </tr>

            <tr>
                <td>Cooked Potato</td>
                <td><input type="number" id="cooked_potato_new_delivery" name="cooked_potato_new_delivery" value="0"></td>
                <td><input type="number" id="cooked_potato_closing_stock" name="cooked_potato_closing_stock" value="0"></td>
                <td><input type="checkbox" id="cooked_potato_order_required" name="cooked_potato_order_required"></td>
            </tr>

            <tr>
                <td>Raw Potato</td>
                <td><input type="number" id="raw_potato_new_delivery" name="raw_potato_new_delivery" value="0"></td>
                <td><input type="number" id="raw_potato_closing_stock" name="raw_potato_closing_stock" value="0"></td>
                <td><input type="checkbox" id="raw_potato_order_required" name="raw_potato_order_required"></td>
            </tr>

            <tr>
                <td>Zucchini</td>
                <td><input type="number" id="zucchini_new_delivery" name="zucchini_new_delivery" value="0"></td>
                <td><input type="number" id="zucchini_closing_stock" name="zucchini_closing_stock" value="0"></td>
                <td><input type="checkbox" id="zucchini_order_required" name="zucchini_order_required"></td>
            </tr>

            <tr>
                <td>Mushroom</td>
                <td><input type="number" id="mushroom_new_delivery" name="mushroom_new_delivery" value="0"></td>
                <td><input type="number" id="mushroom_closing_stock" name="mushroom_closing_stock" value="0"></td>
                <td><input type="checkbox" id="mushroom_order_required" name="mushroom_order_required"></td>
            </tr>

            <tr>
                <td>Caramelised Onion</td>
                <td><input type="number" id="caramelised_onion_new_delivery" name="caramelised_onion_new_delivery" value="0"></td>
                <td><input type="number" id="caramelised_onion_closing_stock" name="caramelised_onion_closing_stock" value="0"></td>
                <td><input type="checkbox" id="caramelised_onion_order_required" name="caramelised_onion_order_required"></td>
            </tr>

            <tr>
                <td>Sunflower Seeds</td>
                <td><input type="number" id="sunflower_seeds_new_delivery" name="sunflower_seeds_new_delivery" value="0"></td>
                <td><input type="number" id="sunflower_seeds_closing_stock" name="sunflower_seeds_closing_stock" value="0"></td>
                <td><input type="checkbox" id="sunflower_seeds_order_required" name="sunflower_seeds_order_required"></td>
            </tr>

            <tr>
                <td>Olives</td>
                <td><input type="number" id="olives_new_delivery" name="olives_new_delivery" value="0"></td>
                <td><input type="number" id="olives_closing_stock" name="olives_closing_stock" value="0"></td>
                <td><input type="checkbox" id="olives_order_required" name="olives_order_required"></td>
            </tr>

            <tr>
                <td>Spring Onion</td>
                <td><input type="number" id="spring_onion_new_delivery" name="spring_onion_new_delivery" value="0"></td>
                <td><input type="number" id="spring_onion_closing_stock" name="spring_onion_closing_stock" value="0"></td>
                <td><input type="checkbox" id="spring_onion_order_required" name="spring_onion_order_required"></td>
            </tr>

            <tr>
                <td>Peppadew</td>
                <td><input type="number" id="peppadew_new_delivery" name="peppadew_new_delivery" value="0"></td>
                <td><input type="number" id="peppadew_closing_stock" name="peppadew_closing_stock" value="0"></td>
                <td><input type="checkbox" id="peppadew_order_required" name="peppadew_order_required"></td>
            </tr>

            <tr>
                <td>Peppadew Tin</td>
                <td><input type="number" id="peppadew_tin_new_delivery" name="peppadew_tin_new_delivery" value="0"></td>
                <td><input type="number" id="peppadew_tin_closing_stock" name="peppadew_tin_closing_stock" value="0"></td>
                <td><input type="checkbox" id="peppadew_tin_order_required" name="peppadew_tin_order_required"></td>
            </tr>

            <tr>
                <td>Cooked Pineapple</td>
                <td><input type="number" id="cooked_pineapple_new_delivery" name="cooked_pineapple_new_delivery" value="0"></td>
                <td><input type="number" id="cooked_pineapple_closing_stock" name="cooked_pineapple_closing_stock" value="0"></td>
                <td><input type="checkbox" id="cooked_pineapple_order_required" name="cooked_pineapple_order_required"></td>
            </tr>

            <tr>
                <td>Pineapple Tin</td>
                <td><input type="number" id="pineapple_tin_new_delivery" name="pineapple_tin_new_delivery" value="0"></td>
                <td><input type="number" id="pineapple_tin_closing_stock" name="pineapple_tin_closing_stock" value="0"></td>
                <td><input type="checkbox" id="pineapple_tin_order_required" name="pineapple_tin_order_required"></td>
            </tr>

            <tr>
                <td>Artichoke Leaves</td>
                <td><input type="number" id="artichoke_leaves_new_delivery" name="artichoke_leaves_new_delivery" value="0"></td>
                <td><input type="number" id="artichoke_leaves_closing_stock" name="artichoke_leaves_closing_stock" value="0"></td>
                <td><input type="checkbox" id="artichoke_leaves_order_required" name="artichoke_leaves_order_required"></td>
            </tr>

            <tr>
                <td>Basil</td>
                <td><input type="number" id="basil_new_delivery" name="basil_new_delivery" value="0"></td>
                <td><input type="number" id="basil_closing_stock" name="basil_closing_stock" value="0"></td>
                <td><input type="checkbox" id="basil_order_required" name="basil_order_required"></td>
            </tr>

            <tr>
                <td>Rocket</td>
                <td><input type="number" id="rocket_new_delivery" name="rocket_new_delivery" value="0"></td>
                <td><input type="number" id="rocket_closing_stock" name="rocket_closing_stock" value="0"></td>
                <td><input type="checkbox" id="rocket_order_required" name="rocket_order_required"></td>
            </tr>

            <tr>
                <td>Coriander</td>
                <td><input type="number" id="coriander_new_delivery" name="coriander_new_delivery" value="0"></td>
                <td><input type="number" id="coriander_closing_stock" name="coriander_closing_stock" value="0"></td>
                <td><input type="checkbox" id="coriander_order_required" name="coriander_order_required"></td>
            </tr>

            <tr>
                <td>Pepperoni</td>
                <td><input type="number" id="pepperoni_new_delivery" name="pepperoni_new_delivery" value="0"></td>
                <td><input type="number" id="pepperoni_closing_stock" name="pepperoni_closing_stock" value="0"></td>
                <td><input type="checkbox" id="pepperoni_order_required" name="pepperoni_order_required"></td>
            </tr>

            <tr>
                <td>Parma Ham</td>
                <td><input type="number" id="parma_ham_new_delivery" name="parma_ham_new_delivery" value="0"></td>
                <td><input type="number" id="parma_ham_closing_stock" name="parma_ham_closing_stock" value="0"></td>
                <td><input type="checkbox" id="parma_ham_order_required" name="parma_ham_order_required"></td>
            </tr>

            <tr>
                <td>Cooked Bacon</td>
                <td><input type="number" id="cooked_bacon_new_delivery" name="cooked_bacon_new_delivery" value="0"></td>
                <td><input type="number" id="cooked_bacon_closing_stock" name="cooked_bacon_closing_stock" value="0"></td>
                <td><input type="checkbox" id="cooked_bacon_order_required" name="cooked_bacon_order_required"></td>
            </tr>

            <tr>
                <td>Rare Bacon</td>
                <td><input type="number" id="rare_bacon_new_delivery" name="rare_bacon_new_delivery" value="0"></td>
                <td><input type="number" id="rare_bacon_closing_stock" name="rare_bacon_closing_stock" value="0"></td>
                <td><input type="checkbox" id="rare_bacon_order_required" name="rare_bacon_order_required"></td>
            </tr>

            <tr>
                <td>Anchovies</td>
                <td><input type="number" id="anchovies_new_delivery" name="anchovies_new_delivery" value="0"></td>
                <td><input type="number" id="anchovies_closing_stock" name="anchovies_closing_stock" value="0"></td>
                <td><input type="checkbox" id="anchovies_order_required" name="anchovies_order_required"></td>
            </tr>

            <tr>
                <td>Chorizo</td>
                <td><input type="number" id="chorizo_new_delivery" name="chorizo_new_delivery" value="0"></td>
                <td><input type="number" id="chorizo_closing_stock" name="chorizo_closing_stock" value="0"></td>
                <td><input type="checkbox" id="chorizo_order_required" name="chorizo_order_required"></td>
            </tr>

            <tr>
                <td>Ham</td>
                <td><input type="number" id="ham_new_delivery" name="ham_new_delivery" value="0"></td>
                <td><input type="number" id="ham_closing_stock" name="ham_closing_stock" value="0"></td>
                <td><input type="checkbox" id="ham_order_required" name="ham_order_required"></td>
            </tr>

            <tr>
                <td>Cooked Chicken</td>
                <td><input type="number" id="cooked_chicken_new_delivery" name="cooked_chicken_new_delivery" value="0"></td>
                <td><input type="number" id="cooked_chicken_closing_stock" name="cooked_chicken_closing_stock" value="0"></td>
                <td><input type="checkbox" id="cooked_chicken_order_required" name="cooked_chicken_order_required"></td>
            </tr>

            <tr>
                <td>Raw Chicken</td>
                <td><input type="number" id="raw_chicken_new_delivery" name="raw_chicken_new_delivery" value="0"></td>
                <td><input type="number" id="raw_chicken_closing_stock" name="raw_chicken_closing_stock" value="0"></td>
                <td><input type="checkbox" id="raw_chicken_order_required" name="raw_chicken_order_required"></td>
            </tr>

            <tr>
                <td>Chilli Oil</td>
                <td><input type="number" id="chilli_oil_new_delivery" name="chilli_oil_new_delivery" value="0"></td>
                <td><input type="number" id="chilli_oil_closing_stock" name="chilli_oil_closing_stock" value="0"></td>
                <td><input type="checkbox" id="chilli_oil_order_required" name="chilli_oil_order_required"></td>
            </tr>

            <tr>
                <td>Truffle Oil</td>
                <td><input type="number" id="truffle_oil_new_delivery" name="truffle_oil_new_delivery" value="0"></td>
                <td><input type="number" id="truffle_oil_closing_stock" name="truffle_oil_closing_stock" value="0"></td>
                <td><input type="checkbox" id="truffle_oil_order_required" name="truffle_oil_order_required"></td>
            </tr>

            <tr>
                <td>Hummus</td>
                <td><input type="number" id="hummus_new_delivery" name="hummus_new_delivery" value="0"></td>
                <td><input type="number" id="hummus_closing_stock" name="hummus_closing_stock" value="0"></td>
                <td><input type="checkbox" id="hummus_order_required" name="hummus_order_required"></td>
            </tr>

            <tr>
                <td>Fig Jam</td>
                <td><input type="number" id="fig_jam_new_delivery" name="fig_jam_new_delivery" value="0"></td>
                <td><input type="number" id="fig_jam_closing_stock" name="fig_jam_closing_stock" value="0"></td>
                <td><input type="checkbox" id="fig_jam_order_required" name="fig_jam_order_required"></td>
            </tr>
        </table>
    </form>
{% endblock %}
