{% extends 'base.html' %}

{% block content %}
<h2>Weekly Stock Report</h2>
{% include 'inventory/report_table.html' %}
{% endblock %}

{% block table_headers %}
    <th>Ingredient</th>
    <th>Initial Stock</th>
    <th>New Delivery</th>
    <th>Closing Stock</th>
    <th>Usage</th>
{% endblock %}

{% block table_rows %}
    <td>{{ item.name }}</td>
    <td>{{ item.initial_stock }}</td>
    <td>{{ item.new_delivery }}</td>
    <td>{{ item.closing_stock }}</td>
    <td>{{ item.usage }}</td>
{% endblock %}
