{% extends "base.html" %}

{% block title %}Add Pizza Order{% endblock %}

{% block content %}
    <h1>Add Pizza Order</h1>
    <form method="post">
        {% csrf_token %}

        {% for field in other_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}

        <h3>Enter Quantities for Selected Pizzas:</h3>
        {% for field in quantity_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn">Add Order</button>
    </form>
    <a href="{% url 'order_list' %}">Back to Order List</a>
{% endblock %}
